<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css-styles/loginPage.css}"/>
    <title>login Page</title>
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<a th:href="@{/auth/registration}">
    <button class="signup_button">Sign up</button>
</a>
<form name="f" method="post" th:action="@{/process_login}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <h1 class="login_title">Log in</h1>
    <div th:if="${param.error}" style="color: crimson">
        Invalid Username or Password
    </div>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username or Email" id="username">
    <br/>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password">
    <br/>
    <button class="login_button" type="submit" value="login">Log In</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>
        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div>
</form>

</body>
</html>