<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/library.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reader.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}"/>
    <title>Index</title>
</head>
<body>

<div th:each="person : ${people}">
    <a class="lst" th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">user</a>
</div>
<br/>

<!--<a href="/people/new">Добавить человека</a>-->
<a th:href="@{/people/new}">
    <button class="button">Добавить человека</button>
</a>
</body>
</html>