<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/library.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reader.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/frame.css}"/>
    <title>Index</title>
</head>
<body>

<div class="frame" th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">user</a>
</div>
<br/>

<a href="/people/new">Добавить человека</a>

</body>
</html>